@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DnD 5e Character Builder</h1>
    <p class="lead">Dungeon and Dragons 5th edition character builder. This is a database that saves character information to an online database for tracking growth of your saved characters. You can create, view, update, and delete characters at your whim while playing in your campaign.</p>
    <p class="text-muted" style="font-size:small">Learn more about Dungeon and Dragons by clicking the button below.</p>
    <p><a href="https://dnd.wizards.com/" class="btn btn-primary" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row jayContainer">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First create an account by clicking the register button above in the top right corner of this page. Once you have an account created you should see 'Characters' option in the navbar - click that. You then will see a webpage that is a list of any saved characters you have.
        </p>
        <p>
            If this is your first time you should see an empty list - click on 'create'. This will take you to a webpage where you can create your character. Enter your characters information and then submit it. Your character should now be saved to the database.
        </p>
    </div>
    <div class="col-md-4">
        <a href="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T210A2MPA3176PT17X33Y29D1021039719FS4188/views/1,width=550,height=550,appearanceId=2,backgroundColor=000000,noPt=true/d20-skull-mens-t-shirt.jpg" target="_blank">
            <img style="width:100%" src="https://image.spreadshirtmedia.com/image-server/v1/mp/compositions/T210A2MPA3176PT17X33Y29D1021039719FS4188/views/1,width=550,height=550,appearanceId=2,backgroundColor=000000,noPt=true/d20-skull-mens-t-shirt.jpg" alt="Skull Dice" />
        </a>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <h3>Github</h3>
        <div>
            <p>You can follow this project on github. The button below will take you to the repository.</p>
            <p><a class="btn btn-primary" href="https://github.com/theMagnificentJay/DnD5eCharacterBuilder" target="_blank">Github &raquo;</a></p>
        </div>
        <hr />
        <h3>Author</h3>
        <div>
            <p>You can find more information on the author of this project as well as their other projects.</p>
            <p><a class="btn btn-primary" href="https://themagnificentjay.github.io/portfolio/" target="_blank">Portfolio &raquo;</a></p>
        </div>
    </div>
</div>